body {
  margin: 24px 156px;
}

ul, li  {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 360px;
  height: 300px;
  height: auto;
}

.gallery {
  display: flex;
  width: 1128px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
  transform: scale(105%);
}

